/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: #ffffff;
}
#chooseFileButton{
	-fx-background-color: #b8b9ba;
}
#chooseFileButton:hover{
	-fx-background-color: #b0b0b0;
}

#startProcessingButton{
	-fx-background-color: #b8b9ba;
}

#startProcessingButton:hover{
	-fx-background-color: #b0b0b0;
}